fieldset.root {
    border: none;
    padding: 0.5em;
    text-align: center;
}
fieldset.root > * {
    text-align: left;
}
fieldset.root > legend {
    padding: 0.5em 1em 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
fieldset.root > legend,
fieldset.root fieldset {
    text-align: left;
}
fieldset.root > button {
    margin-top: 0.5em;
}
.description {
    font-size: 10px;
    color: #444;
}
label,
legend{
    font-weight: bold;
}
label * {
    font-weight: normal;
}